fastapi
uvicorn
streamlit
groq
langchain
langgraph
langchain-groq
langchain-community
langchain-chroma
chromadb
langchain-huggingface
sentence-transformers
pymysql
python-dotenv
mysql-connector-python
