fastapi
uvicorn
streamlit
groq
langchain
langgraph
langchain-groq
langchain-community
chromadb
pymysql
python-dotenv
mysql-connector-python
langchain-huggingface
langchain-community
langchain-huggingface
chromadb
